#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */

  margin: 0; /* Remove default margin */
}

li {
  display: inline-block; /* Display buttons horizontally */
  margin: 10px; /* Add space between buttons */
}

button {
  padding: 10px 20px;
  border: 1px solid #ddd; /* Add a thin border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to a hand on hover */
  background-color: #f0f0f0; /* Set button background color */
}

button:hover {
  background-color: #4a4545f5; /* Change button background color on hover */
}
.name {
  font-size: 2em; /* Set a larger font size for the bank name */
  font-weight: bold; /* Make the bank name text bold */
  margin-bottom: 20px; /* Add some space below the bank name */
}